<!-- <h1>Welcome to {{ hotelName }}</h1> -->
<app-header></app-header>
<div [hidden]="hideRooms">
  Number of Rooms:
  <div
    [ngStyle]="{ color: rooms.availableRooms ? 'red' : 'green' }"
    [innerText]="numberOfRooms"
  ></div>
</div>

{{ rooms.availableRooms || "No Rooms" }}

<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>

<div>
  <button (click)="addRoom()">Add Room</button>
</div>

<h1>
  <!-- {{ getError$ | async }} -->
  Number of Rooms : {{ roomsCount$ | async }}
</h1>
<div *ngIf="rooms$ | async as rooms">
  <app-rooms-list
    [rooms]="rooms"
    [title]="title"
    (selectedRoom)="selectRoom($event)"
  ></app-rooms-list>
</div>

<!-- Even Binding -->
<button (click)="toggle()">Hide Rooms</button>

<button (click)="editRoom()">Edit Rooms</button>

<button (click)="deleteRoom()">Delete Rooms</button>

<h1>{{ totalBytes }} loaded!</h1>
